.intro {
    font-style: italic;
}
.hobbies {
   background-color: blue; 
}
.websites {
    background-color: chartreuse;
}
.interesting {
    font-style: oblique;
    color: brown;
}
.heading {
    color: darkmagenta;
    text-align: center;
}
body {
    font-family: sans-serif;
    background-color: darkgray;
}
.media {
    width: 300px;
    height: 200px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media img {
    max-width: 100%;
    height: auto;
    align-content: center;
}